@media print,
(max-width: 1439px)
{
    /*-------------------
        Global styles
    -------------------*/
    :root
    {
        --font_size_title_small: 60px;
        --font_size_title: 68px;
        --font_size_title_big: 80px;
    }



    /*----------------
        Typography
    ----------------*/
    .text_block > *
    {
        margin-bottom: 28px;
    }



    /*---------------
        Page head
    ---------------*/
    .page_head
    {
        min-height: 624px;
    }

    .page_head.default_h
    {
        min-height: 0;
    }


    .page_head .data,
    .page_head .data.middle_w,
    .page_head .data.big_w
    {
        width: 620px;
    }


    .page_head .image
    {
        right: 0;

        width: calc(100% - 700px);
    }



    /*-----------------
        Main slider
    -----------------*/
    .main_slider .cont
    {
        padding-top: 120px;
    }


    .main_slider .link
    {
        margin-top: 28px;
    }


    .main_slider .link a
    {
        padding: 22px 47px 21px;
    }



    /*---------------
        Main menu
    ---------------*/
    .main_menu .links
    {
        margin-top: 80px;

        gap: 30px;
    }


    .main_menu .links a
    {
        font-size: 30px;
    }


    .main_menu .links .sub a
    {
        font-size: 24px;
    }



    /*----------------
        About info
    ----------------*/
    .about_info
    {
        padding: 120px 0;
    }


    .about_info .title
    {
        width: calc(50% - 24px);
    }


    .about_info .text_block
    {
        font-size: 20px;

        width: calc(50% - 24px);
        margin-right: 0;
    }


    .about_info .logos
    {
        width: calc(100% + 24px);
        margin-top: 80px;
        margin-bottom: -24px;
        margin-left: -24px;
        padding-right: 80px;
        padding-left: 80px;
    }


    .about_info .logos > *
    {
        width: calc(20% - 24px);
        height: 88px;
        margin-bottom: 24px;
        margin-left: 24px;
    }



    /*----------------------
        About production
    ----------------------*/
    .about_production .item .info,
    .about_production .item .info.big,
    .about_production .item .image,
    .about_production .item .image.small
    {
        width: calc(50% - 24px);
    }


    .about_production .item .link
    {
        margin-top: 48px;
    }


    .about_production .item .link a
    {
        padding: 22px 49px 21px;

        letter-spacing: 1.14px;
    }



    /*------------
        Awards
    ------------*/
    .awards .data
    {
        padding: 78px 0 98px;
    }


    .awards .title span
    {
        margin-left: 180px;
    }



    /*------------------
        Our products
    ------------------*/
    .our_products .global_title
    {
        font-size: 152px;

        top: -136px;

        margin-left: -200px;
    }



    .our_products .info
    {
        width: 500px;
    }



    .our_products .link
    {
        margin-top: 40px;
    }


    .our_products .link a
    {
        font-size: 20px;

        width: 130px;
        height: 130px;
    }



    .our_products .pluses .row
    {
        gap: 24px;
    }


    .our_products .pluses .item .icon
    {
        height: 80px;
        margin-bottom: 20px;
    }



    .our_products .gallery
    {
        margin-top: 100px;
    }



    .our_products .data
    {
        padding-top: 80px;
        padding-bottom: 120px;
    }


    .our_products .data .info
    {
        width: 500px;
    }


    .our_products .data .pluses > * + *
    {
        margin-top: 20px;
    }


    .our_products .data .pluses .item .icon
    {
        margin-bottom: 0;
    }


    .our_products .data .pluses .icon + *
    {
        max-width: calc(100% - 120px);
        margin-left: 40px;
    }


    .our_products .data .gallery
    {
        width: calc(100% - 568px);
    }


    .our_products .data .marquee
    {
        font-size: var(--font_size_title_small);

        bottom: 30px;
    }



    /*------------------
        Loyalty card
    ------------------*/
    .loyalty_card .title
    {
        width: 460px;
    }


    .loyalty_card .text_block
    {
        width: 200px;
    }


    .loyalty_card .link
    {
        margin-left: 30px;
    }


    .loyalty_card .link a
    {
        font-size: 20px;

        width: 130px;
        height: 130px;
    }


    .loyalty_card .img
    {
        width: 340px;
        height: 220px;
        margin-right: -540px;
    }



    /*--------------
        Articles
    --------------*/
    .articles .article .info
    {
        padding: 55px 51px 39px;
    }



    /*------------------
        Article info
    ------------------*/
    .article_info .ingredients .image
    {
        width: 520px;
        margin-right: -150px;
    }



    /*--------------------
        Direction head
    --------------------*/
    .direction_head
    {
        height: 650px;
        padding-top: 260px;
    }



    /*--------------------
        Direction info
    --------------------*/
    .direction_info .data
    {
        margin-left: 400px;
    }


    .direction_info .bg
    {
        left: 40px;

        margin-left: 0;
    }



    /*---------------
        Where buy
    ---------------*/
    .where_buy .link a
    {
        padding: 22px 47px 21px;
    }



    /*-------------
        History
    -------------*/
    .history .block_desc
    {
        width: 668px;
    }



    /*----------
        Team
    ----------*/
    .team .data
    {
        width: 560px;
    }


    .team .boss
    {
        width: 604px;
        margin-left: auto;
    }



    /*-----------------------
        Loyalty card info
    -----------------------*/
    .loyalty_card_info .card
    {
        right: 40px;

        margin-right: 0;
    }


    .loyalty_card_info .row
    {
        margin-top: 60px;
    }


    .loyalty_card_info .item .val
    {
        font-size: 72px;
    }



    /*------------------------
        Loyalty card about
    ------------------------*/
    .loyalty_card_about .row
    {
        gap: 100px;
    }


    .loyalty_card_about .col
    {
        gap: 80px;
    }



    /*------------
        Footer
    ------------*/
    footer
    {
        padding-bottom: 80px;
    }



    footer .location
    {
        width: 312px;
    }


    footer .phone
    {
        margin-top: 40px;
    }


    footer .copyright
    {
        width: auto;
    }


    footer .socials a
    {
        width: 60px;
        height: 60px;
    }
}
