@media (max-width: 479px)
{
    /*-------------------
        Global styles
    -------------------*/
    :root
    {
        --font_size_title_small: 32px;
        --font_size_title: 32px;
        --font_size_title_big: 34px;
    }


    .cont,
    .cont.big
    {
        padding: 0 20px;
    }



    /*----------
        Tabs
    ----------*/
    .tabs
    {
        width: calc(100% + 40px);
        margin: 0 -20px 50px;
        padding: 0 20px;

        scroll-padding: 0 20px;
    }



    /*------------
        Header
    ------------*/
    header .logo img
    {
        width: 140px;
    }



    /*------------------
        Form elements
    ------------------*/
    .form .file label
    {
        flex-wrap: wrap;
        justify-content: center;

        gap: 12px;
    }


    .form .submit_btn
    {
        width: 100%;
        min-width: 0;
        padding: 12px 31px 10px;
    }


    .form .exp br
    {
        display: none;
    }



    /*----------------
        Typography
    ----------------*/
    .text_block img
    {
        width: calc(100% + 40px);
        max-width: calc(100% + 40px);
        margin-right: -20px;
        margin-left: -20px;
    }



    /*---------------
        Main menu
    ---------------*/
    .main_menu .head .logo img
    {
        width: 140px;
    }


    .main_menu .head .close_btn span
    {
        display: none;
    }


    .main_menu .links a
    {
        font-size: 21px;
    }



    /*------------
        Awards
    ------------*/
    .awards .items img
    {
        width: 160px;
    }



    /*----------------------
        About production
    ----------------------*/
    .about_production .item .image,
    .about_production .item .image.small,
    .about_production .item .info + .image
    {
        width: calc(100% + 40px);
        max-width: calc(100% + 40px);
        margin-right: -20px;
        margin-left: -20px;
    }



    /*------------------
        Our products
    ------------------*/
    .our_products .gallery .row.mob_carousel
    {
        width: calc(100% + 40px);
        margin-right: -20px;
        margin-left: -20px;
        padding: 0 20px;
    }



    /*------------------
        Article info
    ------------------*/
    .article_info .article_data
    {
        margin: 30px -20px 0;
        padding: 40px 20px;
    }



    /*------------------
        Article info
    ------------------*/
    .article_info .article_data
    {
        margin: 30px -20px 0;
        padding: 40px 20px;
    }



    .article_info .ingredients .list
    {
        width: calc(100% + 40px);
        margin-right: -20px;
        margin-left: -20px;
    }


    .article_info .ingredients .list > *
    {
        padding-right: 20px;
        padding-left: 20px;
    }



    .article_info .ingredients .image
    {
        width: calc(100% + 40px);
        max-width: calc(100% + 40px);
        margin-right: -20px;
        margin-left: -20px;
    }



    /*------------
        Videos
    ------------*/
    .videos .videos_data
    {
        margin: 30px -20px 0;
        padding: 40px 20px;
    }



    /*------------
        Stores
    ------------*/
    .stores .list .head
    {
        padding: 24px 20px;
    }


    .stores .data .addresses
    {
        padding: 0 20px;
    }



    /*--------------------
        Direction info
    --------------------*/
    .direction_info .data .title
    {
        font-size: 32px;
    }



    /*---------------
        Where buy
    ---------------*/
    .where_buy .block_head .title br
    {
        display: block;
    }


    .where_buy .link a
    {
        width: 100%;
        padding: 22px 23px 21px;
    }



    /*----------
        Team
    ----------*/
    .team .rules .link a
    {
        width: 100%;
        padding: 22px 23px 21px;
    }
}
