@media print,
(max-width: 1279px)
{
    /*-------------------
        Global styles
    -------------------*/
    :root
    {
        --font_size_title_small: 45px;
        --font_size_title: 60px;
        --font_size_title_big: 70px;
    }


    html.custom_scroll ::-webkit-scrollbar
    {
        width: 5px;
        height: 5px;
    }


    .block
    {
        margin-bottom: 100px;
    }

    .block.medium
    {
        margin-bottom: 80px;
    }

    .block.small
    {
        margin-bottom: 60px;
    }


    .cont,
    .cont.big
    {
        padding: 0 24px;
    }



    /*----------------
        Pagination
    ----------------*/
    .pagination
    {
        margin-top: 52px;
    }



    /*----------------
        Typography
    ----------------*/
    .text_block > *
    {
        margin-bottom: 24px;
    }



    /*---------------
        Page head
    ---------------*/
    .page_head.padding
    {
        padding-bottom: 80px;
    }


    .page_head.default_h
    {
        min-height: 0;
    }


    .page_head .global_title
    {
        font-size: 140px;

        top: -98px;
        left: 160px;

        margin-left: 0;
    }


    .page_head .data,
    .page_head .data.middle_w,
    .page_head .data.big_w
    {
        width: 100%;
    }


    .page_head .image
    {
        position: relative;
        right: 0;

        width: calc(100% + 48px);
        max-width: calc(100% + 48px);
        margin: 50px -24px 0;
    }


    .page_head .image.offset_top
    {
        top: 0;
    }


    .page_head .image.mob_hide
    {
        display: none;
    }


    .page_head .bg,
    .page_head .bg2
    {
        display: none;
    }



    /*-----------------
        Main slider
    -----------------*/
    .main_slider .cont
    {
        padding-top: 120px;
    }


    .main_slider .link
    {
        margin-top: 24px;
    }



    /*---------------
        Main menu
    ---------------*/
    .main_menu .links a
    {
        font-size: 28px;
    }


    .main_menu .links .sub a
    {
        font-size: 22px;
    }


    .main_menu .head .close_btn
    {
        font-size: var(--font_size);

        gap: 12px;
    }



    /*----------------
        About info
    ----------------*/
    .about_info
    {
        padding: 100px 0;
    }


    .about_info .title,
    .about_info .text_block
    {
        width: calc(50% - 12px);
    }


    .about_info .logos
    {
        margin-top: 68px;
        padding-right: 0;
        padding-left: 0;
    }


    .about_info .logos > *
    {
        height: 80px;
    }



    /*----------------------
        About production
    ----------------------*/
    .about_production .item .info,
    .about_production .item .image,
    .about_production .item .info.big
    {
        width: calc(50% - 12px);
    }


    .about_production .item .link
    {
        margin-top: 40px;
    }



    /*------------
        Awards
    ------------*/
    .awards > .cont
    {
        padding: 0;
    }


    .awards .title span
    {
        margin-left: 148px;
    }



    /*------------------
        Our products
    ------------------*/
    .our_products .global_title
    {
        font-size: 108px;

        top: -112px;

        margin-left: -180px;
    }



    .our_products .info
    {
        width: 400px;
    }



    .our_products .link a
    {
        font-size: 18px;

        width: 120px;
        height: 120px;
    }



    .our_products .pluses .item
    {
        width: 160px;
    }


    .our_products .pluses .item .icon
    {
        height: 68px;
        margin-bottom: 16px;
    }



    .our_products .data
    {
        padding-top: 68px;
        padding-bottom: 100px;
    }


    .our_products .data .info
    {
        width: 400px;
    }


    .our_products .data .pluses .item .icon
    {
        width: 68px;
        margin-bottom: 0;
    }


    .our_products .data .pluses .icon + *
    {
        max-width: calc(100% - 92px);
        margin-left: 24px;
    }


    .our_products .data .gallery
    {
        width: calc(100% - 440px);
    }


    .our_products .data .marquee
    {
        bottom: 20px;
    }



    /*------------------
        Loyalty card
    ------------------*/
    .loyalty_card .title
    {
        width: 380px;
    }


    .loyalty_card .text_block
    {
        width: 180px;
    }


    .loyalty_card .link
    {
        margin-left: 28px;
    }


    .loyalty_card .link a
    {
        font-size: 18px;

        width: 120px;
        height: 120px;
    }


    .loyalty_card .img
    {
        width: 320px;
        height: 207px;
        margin-right: -520px;
    }



    /*---------------
        Franchise
    ---------------*/
    .franchise .form
    {
        width: 100%;
        margin-top: 16px;
    }


    .franchise .form .sub_title
    {
        margin-bottom: 60px;
    }



    /*--------------
        Articles
    --------------*/
    .articles .grid
    {
        display: flex;
        flex-direction: column;

        gap: 30px;
    }


    .articles .article .desc
    {
        width: 498px;
        max-width: 100%;
    }



    /*------------------
        Article info
    ------------------*/
    .article_info .article_data
    {
        margin: 36px -24px 0;
        padding: 48px 24px;
    }



    .article_info .ingredients .info
    {
        width: 440px;
    }


    .article_info .ingredients .title,
    .article_info .ingredients .list > *
    {
        padding-left: 0;
    }


    .article_info .ingredients .image
    {
        width: calc(100% - 480px);
        margin: 0 -24px 0 0;
    }



    .article_info .step
    {
        gap: 48px;
    }


    .article_info .step .image + *
    {
        max-width: calc(100% - 458px);
    }



    /*------------
        Videos
    ------------*/
    .videos .videos_data
    {
        margin: 36px -24px 0;
        padding: 48px 24px;
    }


    .videos .videos_data .title
    {
        font-size: 45px;

        margin-bottom: 30px;
    }


    .videos .row
    {
        margin-bottom: -30px;
    }


    .videos .row > *
    {
        margin-bottom: 30px;
    }



    /*-----------
        Media
    -----------*/
    .media .media_data
    {
        margin: 36px -24px 0;
        padding: 48px 24px;
    }


    .media .media_data .title
    {
        font-size: 45px;

        margin-bottom: 30px;
    }


    .media .pagination
    {
        margin-top: 60px;
    }



    /*--------------------
        Direction info
    --------------------*/
    .direction_info .data
    {
        margin-left: 344px;
    }


    .direction_info .bg
    {
        left: 24px;
    }


    .direction_info .bg3
    {
        position: relative;
        right: 0;
        bottom: 0;

        margin: 74px auto 0;
    }



    /*------------
        Banner
    ------------*/
    .banner
    {
        padding: 60px 0;
    }


    .banner .title
    {
        gap: 30px;
    }


    .banner .title .lh
    {
        font-size: 55px;
    }


    .banner .title small
    {
        font-size: 30px;

        letter-spacing: .3px;
    }


    .banner .title span
    {
        margin-left: 0;
    }



    /*---------------
        Where buy
    ---------------*/
    .where_buy .block_head
    {
        margin-bottom: 43px;
    }



    /*----------------
        Production
    ----------------*/
    .production .text_block
    {
        width: 100%;
        margin-top: 40px;
    }



    /*------------
        For us
    ------------*/
    .for_us .info
    {
        width: 100%;

        text-align: center;
    }


    .for_us .block_title
    {
        margin-bottom: 50px;
    }


    .for_us .title
    {
        font-size: 60px;
    }


    .for_us .title span
    {
        margin-left: 0;
    }


    .for_us .pluses
    {
        width: 100%;
        margin-top: 40px;
        margin-right: 0;
    }


    .for_us .pluses .row
    {
        justify-content: center;
    }



    /*-------------
        History
    -------------*/
    .history
    {
        padding-top: 190px;
    }


    .history .global_title
    {
        font-size: 130px;

        top: 32px;
        left: 0;
    }


    .history .block_desc
    {
        width: 100%;
    }


    .history .bg
    {
        position: relative;
        right: 0;

        width: 100%;
        height: auto;
        margin: 50px 0 0;
    }



    /*----------
        Team
    ----------*/
    .team
    {
        padding-top: 60px;
    }


    .team .global_title
    {
        font-size: 130px;

        top: -80px;
        left: 0;

        margin-left: 0;
    }


    .team .data
    {
        width: 100%;
    }


    .team .block_desc
    {
        margin-top: 31px;
    }


    .team .boss
    {
        width: 300px;
        margin: 50px auto 0;
    }


    .team .boss .photo
    {
        width: 100%;
        margin: 0;
    }


    .team .boss .desc
    {
        display: none;
    }



    .team .rules
    {
        width: 100%;
        margin-top: 80px;
    }


    .team .rules .block_title
    {
        font-size: 16px;

        margin-bottom: 20px;
        padding: 0;

        text-align: center;
    }


    .team .rules .title
    {
        font-size: 30px;

        padding: 0;

        text-align: center;
    }


    .team .rules .title .span1,
    .team .rules .title .span2
    {
        margin-left: 0;
    }


    .team .rules .image
    {
        width: calc(100% + 48px);
        margin: 50px -24px 0;
    }


    .team .rules .image .count
    {
        font-size: 113px;

        bottom: -79px;
        left: 47px;
    }


    .team .rules .link
    {
        margin-top: 70px;
    }


    .team .rules .link a
    {
        padding: 22px 47px 21px;
    }



    /*------------------------
        Exhibitions awards
    ------------------------*/
    .exhibitions_awards
    {
        padding-bottom: 80px;
    }


    .exhibitions_awards .data
    {
        width: 100%;
    }


    .exhibitions_awards .archive_link
    {
        margin-top: 280px;
    }


    .exhibitions_awards .images
    {
        display: flex;
        align-content: center;
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;

        width: 100%;
        margin-top: 50px;

        gap: 30px;
    }


    .exhibitions_awards .gallery
    {
        margin-top: 84px;
    }


    .exhibitions_awards .gallery .row
    {
        display: block;
        overflow: auto;

        margin-bottom: 0;
        margin-left: 0;

        white-space: nowrap;

        scroll-padding: 0 20px;
        scroll-snap-type: x mandatory;
        scrollbar-color: transparent transparent !important;
        scrollbar-width: thin !important;
    }


    .exhibitions_awards .gallery .row::-webkit-scrollbar
    {
        display: none !important;

        width: 0 !important;
        height: 0 !important;

        background-color: transparent !important;
    }


    .exhibitions_awards .gallery .row::-webkit-scrollbar-thumb
    {
        background-color: transparent !important;
    }


    .exhibitions_awards .gallery .row > *
    {
        display: inline-block;

        width: 464px;
        max-width: none;
        margin: 0;

        vertical-align: top;

        scroll-snap-align: start;
    }

    .exhibitions_awards .gallery .row > * + *
    {
        margin-left: 16px;
    }



    /*------------
        Footer
    ------------*/
    footer
    {
        padding-bottom: 68px;
    }


    footer .location
    {
        font-size: var(--font_size);

        width: 280px;
    }


    footer .phone,
    footer .email,
    footer .links,
    footer .copyright
    {
        font-size: var(--font_size);
    }
}
